body {
	background-color: lightblue;
	}
	
h1 {
	margin-right: 100px;
	margin-left: 700px;
}

img {
	margin-right: 100px;
	margin-left: 725px;
}

a {
	margin-right: 100px;
	margin-left: 660px;
}
